<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <!-- same as http://shortfusedev-dn9.westus.cloudapp.azure.com:9092/ -->
    <add key="AcceptanceTest:KafkaUri" value="172.26.8.[26-29]:9092" />
    <add key="AcceptanceTest:KafkaDefaultBatchSize" value="100" />
    <add key="AcceptanceTest:KafkaDefaultBatchDelayTime" value="500" />
    <add key="AcceptanceTest:KafkaTopicsAll" value="dummy,jnmtopic,JnmTopic,fusetest,fusetest1,fusetest2,fusetest3, Claim, Condition, Coverage, DiagnosticReport, Encounter, Immunization,Location, Medication, Organization, Patient, Practitioner, Procedure" />
  </appSettings>

  <specFlow>
    <unitTestProvider name="NUnit" />  
    <trace stepDefinitionSkeletonStyle="MethodNameUnderscores" />
    <runtime stopAtFirstError="true" missingOrPendingStepsOutcome="Inconclusive" />
    
    <stepAssemblies>
      <stepAssembly assembly="Kafka.Steps" />
    </stepAssemblies>
    
    <!-- For additional details on SpecFlow configuration options see
    http://go.specflow.org/doc-config -->    

  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --></specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
